@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #333;
    --body-font: 'Poppins', sans-serif;
    --title-font: 'Pacifico', cursive;
}

::selection {
    color: #fff;
    background: var(--main-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/wallpaperbetter.jpg);
    background-size: 48%;
    background-position: center;
}

.container {
    background: linear-gradient(90deg, rgba(217, 140, 174, 1) 17%, rgba(100, 165, 161, 1) 57%);
    width: 605px;
    max-width: 90%;
    padding: 30px 30px 25px;
    border-radius: 15px;
}

.container .title {
    font-size: 35px;
    font-weight: 600;
    font-family: var(--title-font);
    text-align: center;
}

.container .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.quote-area i {
    font-size: 15px;
}

.quote-area i:first-child {
    margin: 3px 10px 0 0;
}

.quote-area i:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
    /* word-break: break-all; */
}

.content .author {
    color: #555;
    font-size: 18px;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.author span:first-child {
    font-family: monospace;
    margin: -7px 5px 0 0;
}

.container .btns {
    border-top: 1px solid #ccc;
}

.btns .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.features ul {
    list-style: none;
    display: flex;
}

.features ul li {
    width: 47px;
    height: 47px;
    margin: 0 5px;
    padding: 10px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.features ul li:hover {
    color: #fff;
    background: var(--main-color);
}

.features button {
    font-family: var(--title-font);
    border: none;
    outline: none;
    background: var(--main-color);
    color: #fff;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.features button:hover {
    background: color-mix(in srgb, var(--main-color) 90%, #fff 10%);
}

button.loading {
    opacity: 0.7;
    pointer-events: none;
    cursor: not-allowed;
}